.profile {
  text-align: center;
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  color: #373535;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.tag,
.location {
  color: #666;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background-color: #e4e4e4;
  border-radius: 10px;
  margin-top: 20px;
}

.stats li {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  border-right: 1px solid #ddd;
}

.stats li:last-child {
  border-right: none;
}

.label {
  font-size: 14px;
  color: #373535;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
